.layoutContainer {
  display: flex;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contentContainer h1 {
  margin-top: 40px;
  font-weight: 600;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 2.5%;
}
.mainContainerRow2,
.graphContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5%;
}

@media screen and (max-width: 568px) {
  .layoutContainer {
    width: fit-content;
  }
  .mainContainerRow2,
  .graphContainer {
    flex-direction: column;
}
}
